@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Agustina Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Agustina Regular'), url('./fonts/beyond_the_mountains.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat-Regular.ttf') format('woff');
}
html {
    @apply w-screen
}
body {
    @apply dark:bg-[#091A2F] bg-white dark:text-[#f4f4f4] text-[#363537] overflow-x-hidden w-screen;
    font: 19px / 23px Montserrat, "Montserrat", sans-serif;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    @apply flex justify-center items-center;
}